.basket {
    position: sticky;
    top: 100px;
    width: 400px;
    border-left: 1px solid rgba(0, 0, 0, .05);
    overflow: auto;

    .container {
        position: relative;
        padding: 0 30px;
        max-width: 500px;
        margin: 0 auto;

        h1 {
            font-family: "Cera Pro", sans-serif;
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }

        .close {
            position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
            height: 30px;
            width: 30px;
            padding: 0;
            border-radius: 50%;
            border: none;
            background: $athens;
            color: rgba(0, 0, 0, .54);
            font-size: 18px;
            cursor: pointer;
            outline: none;
        }

        .contents {
            .list {
                .item {
                    padding: 20px 0;
                    border-bottom: 1px solid rgba(0, 0, 0, .05);

                    .row.one {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;

                        .name {
                            font-size: 20px;
                            font-family: "Cera Pro", sans-serif;
                            font-weight: bold;
                            margin-right: 20px;
                            text-align: left;
                        }

                        .country {
                            margin: 0;
                            font-family: "Cera Pro", sans-serif;
                            font-size: 16px;
                            font-weight: normal;
                            color: lighten($black, 46)
                        }

                        .price {
                            display: inline-block;
                            margin: 0;
                            font-family: "Cera Pro", sans-serif;
                            font-size: 16px;
                            font-weight: normal;
                            text-align: right;
                        }
                        .price.discounted {
                            color: $silver;
                            margin-right: 6px;
                            text-decoration: line-through;
                        }
                    }
                    .row.two {
                        .remove {
                            display: block;
                            margin: 12px auto 0;
                            background: none;
                            border: none;
                            color: $error;
                            font-family: "Cera Pro", sans-serif;
                            font-size: 14px;
                            cursor: pointer;
                            outline: none;
                        }
                    }
                }
                .item:nth-last-child(1) {
                    border-bottom: none;
                }
            }

            .summary {
                border-top: 1px solid rgba(0, 0, 0, .05);
                padding: 30px 0;

                h1 {
                    font-size: 20px;
                }

                div {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    margin-top: 16px;

                    h4 {
                        font-family: "Cera Pro", sans-serif;
                        font-size: 18px;
                        font-weight: normal;
                        margin: 0;
                    }
                    
                    h3 {
                        font-family: "Cera Pro", sans-serif;
                        font-size: 20px;
                        font-weight: bold;
                        margin: 0;
                    }
                }

                .checkout {
                    font-family: "Cera Pro", sans-serif;
                    font-weight: bolder;
                    font-size: 14px;
                    border-radius: 100px;
                    background: $carrot;
                    color: $black;
                    border: none;
                    height: 45px;
                    width: 100%;
                    margin-top: 30px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                    cursor: pointer;
                    outline: none;
                }
            }
        }

        .empty-message {
            margin: 30px 0;
            font-family: "Cera Pro", sans-serif;
            font-size: 18px;
            font-weight: normal;
            color: $silver;
        }
    }
}
.basket.visible {
    display: block;
}

@media only screen and (max-width: 968px) {
    .basket {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: #fff;

        .container {
            padding: 30px;

            .close {
                display: flex;
                top: 15px;
                right: 15px;
            }
        }
    }
}