@import "./colors.scss";
@import "../views/GetZipCode/styles.scss";
@import "../views/Index/styles.scss";
@import "../components/Basket/styles.scss";
@import "../components/Search/styles.scss";
@import "../components/Header/styles.scss";
@import "../components/Footer/styles.scss";
@import "./animations.scss";

body {
    margin: 0;
    background: #fff;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.wrapper.no-scroll {
    overflow: hidden;
}
.content {
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - 200px);
    max-width: 1080px;
    margin: 30px auto 0;
    padding: 0 30px;
}

@media only screen and (max-width: 500px) {
    .content {
        padding: 0 16px;
    }
}